body {
    background-color: #333333;
    /*font-family: sans-serif;*/
}

img#output {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 512px;
    height: auto;
}

textarea#input {
    background-color: #333333;
    color: #fafafa;
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 8rem;
    border: none;
    outline: none;
    resize: none;
}

textarea#input:focus {
    outline: none;
    border: none;
}

textarea::placeholder {
    color: #fafafa;
}

div.left, div.right{
    position: fixed;
    width: 50%;
    height: 100%;
}

div.left{
    left: 0;
}

div.right{
    right: 0
}